{% extends 'base.html' %}
{% block main %}
{% load static %}
<div class="container-xxl py-5">

  <div class="container">
    <div class="row g-4 justify-content-center packageDetailsUpperSection">

      <div class="col-lg-6 col-md-6 wow fadeInUp mb-3" data-wow-delay="0.1s">
        <div class="package-item">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={% static 'img/package-1.jpg' %} class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src={% static 'img/package-1.jpg' %} class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src={% static 'img/package-1.jpg' %} class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex border-bottom">
          <h2>{{context.package.pkg_title}}</h2>
        </div>

        <div class="text-left px-4 py-4">
          <h3 class="mb-0">${{context.package.pkg_price}}</h3>
          <div class="mb-3">
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
            <small class="fa fa-star text-primary"></small>
          </div>

          <p>{{context.package.pkg_dec}}</p>
          <div class="text-left mb-3">
            <small class="flex-fill text-center border-end py-2 px-2"><i
                class="fa fa-map-marker-alt text-primary me-2"></i>{{context.package.pkg_to}}</small>
            <small class="flex-fill text-center border-end py-2 px-2"><i
                class="fa fa-calendar-alt text-primary me-2"></i>{{context.package.pkg_days}}
              days</small>
            <small class="flex-fill text-center py-2 px-2"><i
                class="fa fa-user text-primary me-2"></i>{{context.package.tota_seats}} Total
              Seats</small>
          </div>
          <div class="d-flex justify-content-left mb-2">
            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 0px 0px 0;">Book
              Now</a>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
</div>
</div>

<div class="container-xxl px-5 ">

  <div class="container">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <a href="#inclusion" id="btnradio1">

        <label class="btn btn-outline-secondary" for="inclusion">Inclusions</label>
      </a>
      <a href="#itinerary" id="btnradio2">
        <label class="btn btn-outline-secondary" for="itinerary">Package Itinerary</label>
      </a>
      <a href="#aboutdestination" id="btnradio3">
        <label class="btn btn-outline-secondary   " for="aboutdestination">About the Place</label>
      </a>
    </div>
  </div>
</div>


<div class="container-xxl  py-5">
  <div class="container">
    <div id="inclusion" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div id="itinerary" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div id="aboutdestination" style="margin-bottom: 20px;">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}